

/* Body */

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "PT Sans", "Open Sans", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1.4;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 1.8rem;
    line-height: 1.618;
    max-width: 38em;
    margin: auto;
    color: #4a4a4a;
    background-color: #f9f9f9;
    padding: 13px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2.00em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}

small,
sub,
sup {
    font-size: 75%;
}

hr {
    border-color: #338618;
}

a {
    text-decoration: none;
    color: #338618;
}

a:hover {
    color: #5e5e5e;
    border-bottom: 2px solid #4a4a4a;
}

ul {
    padding-left: 1.4em;
}

li {
    margin-bottom: 0.4em;
}

blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid #338618;
}

img {
    max-width: 100%;
}


/* Pre and Code */

pre {
    background-color: #C7E3BE;
    display: block;
    padding: 1em;
    overflow-x: auto;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: #C7E3BE;
    white-space: pre-wrap;
}

pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}


/* Tables */

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid #C7E3BE;
}

label {
    display: inline-block;
    width: 45%;
    margin-right: 1em;
    text-align: right;
    vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    color: #4a4a4a;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: #C7E3BE;
    border: 1px solid #C7E3BE;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

div {
    text-align: center;
    margin-top: 1em;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: #338618;
    color: #f9f9f9;
    border-radius: 1px;
    border: 1px solid #338618;
    cursor: pointer;
    box-sizing: border-box;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor: default;
    opacity: .5;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
    background-color: #5e5e5e;
    border-color: #5e5e5e;
    color: #f9f9f9;
    outline: 0;
}


/* Header: Nav. */

header nav>ul {
    font-size: 0;
    padding: 0;
}

header nav>ul>li {
    display: inline-block;
    font-size: 1.6rem;
}

header nav>ul>li+li {
    border-left: 1px solid #ccc;
    margin-left: 1rem;
    padding-left: 1rem;
}

body>footer {
    margin-top: 5em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5rem;
    color: #aaaaaa;
    position: relative;
    max-width: 50%m;
    margin-left: 20%;
}

aside {
    margin: 0.5em 0;
    font-style: italic;
    color: #aaaaaa;
}

p {
    text-align: justify;
}