/*----------------------------------------*\
  Desarrollado con ♡ por © Gerardo Tordoya
\*----------------------------------------*/


/**
 * CONTENIDO
 *
 * html
 * body
 * header
 * nav
 * section + article
 * aside
 * footer
 * imágenes
 * títulos
 * texto
 * enlaces
 * pre + code
 * listas
 * tablas
 * formularios
 * div + span
 * efectos
 * específicos
 */


 

/*----------------------------------------*\
  HTML
\*----------------------------------------*/

html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "PT Sans", "Open Sans", "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: 1.4;
    -webkit-overflow-scrolling: touch;
}


/*----------------------------------------*\
  BODY
\*----------------------------------------*/

body {
    font-size: 1.75rem;
    line-height: 1.618;
    max-width: 39.5em;
    margin: auto;
    color: dimgrey;
    background-color: ghostwhite;
    padding: 10px;
}

@media (max-width: 684px) {
    body {
        font-size: 1.53rem;
    }
}

@media (max-width: 382px) {
    body {
        font-size: 1.35rem;
    }
}


/*----------------------------------------*\
  HEADER
\*----------------------------------------*/

header nav>ul {
    font-size: 0;
    padding: 0;
}

header nav>ul>li {
    display: inline-block;
    font-size: 1.6rem;
}

header nav>ul>li+li {
    border-left: 1px solid darkgray;
    margin-left: 1rem;
    padding-left: 1rem;
}


/*----------------------------------------*\
  NAV
\*----------------------------------------*/

nav {
    text-align: center;
}


/*----------------------------------------*\
  SECTION & ARTICLE
\*----------------------------------------*/

section, article {
    padding: 6px 12px;
    -webkit-animation: desvanecimiento 3s;
    animation: desvanecimiento 2s;
    border-radius: 25px;
    border: 1px solid mediumseagreen;
    padding: 6px 12px;
}

/*----------------------------------------*\
  ASIDE
\*----------------------------------------*/

aside {
    font-style: italic;
    color: darkgreen;
    position: absolute;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
    margin-left: 41em;
    text-align: left;
}


/*----------------------------------------*\
  FOOTER
\*----------------------------------------*/

body>footer {
    margin-top: 5em;
    padding-bottom: 1em;
    text-align: center;
    font-size: 1.5rem;
    color: gray;
    position: relative;
}


/*----------------------------------------*\
  IMAGENES
\*----------------------------------------*/

figure {
    display: inline-block; 
}

.svg {
    filter: none;
    transition: 2s;
}

.svg:hover {
    cursor: pointer;
    filter: invert(.35) drop-shadow(0px 0px 10px forestgreen);
    transition: 1s;
}


/*----------------------------------------*\
  TITULOS
\*----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.1;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 700;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1 {
    font-size: 2.35em;
}

h2 {
    font-size: 2.00em;
}

h3 {
    font-size: 1.75em;
}

h4 {
    font-size: 1.5em;
}

h5 {
    font-size: 1.25em;
}

h6 {
    font-size: 1em;
}


/*----------------------------------------*\
  TEXTO
\*----------------------------------------*/

p {
    text-align: justify;
    animation: desvanecimiento 3s;
}

small,
sub,
sup {
    font-size: 75%;
}

hr {
    border-color: forestgreen;
}

blockquote {
    font-style: italic;
    margin-left: 1.5em;
    padding-left: 1em;
    border-left: 3px solid forestgreen;
}


/*----------------------------------------*\
  ENLACES
\*----------------------------------------*/

a {
    text-decoration: none;
    color: forestgreen;
    display: inline-block;
}

a:hover {
    color: dimgrey;
    border-bottom: 2px solid dimgrey;
}


/*----------------------------------------*\
  PRE & CODE
\*----------------------------------------*/

pre {
    background-color: darkseagreen;
    display: block;
    padding: 1em;
    overflow-x: auto;
}

code {
    font-size: 0.9em;
    padding: 0 0.5em;
    background-color: darkseagreen;
    white-space: pre-wrap;
}

pre>code {
    padding: 0;
    background-color: transparent;
    white-space: pre;
}


/*----------------------------------------*\
  LISTAS
\*----------------------------------------*/

ul {
    padding-left: 1.4em;
}

li {
    margin-bottom: 0.4em;
}


/*----------------------------------------*\
  TABLAS
\*----------------------------------------*/

table {
    text-align: justify;
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 0.5em;
    border-bottom: 1px solid darkseagreen;
    vertical-align: top;
}


/*----------------------------------------*\
  FORMULARIOS
\*----------------------------------------*/

label {
    display: inline-block;
    width: 45%;
    margin-right: 1em;
    text-align: right;
    vertical-align: top;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    color: dimgrey;
    padding: 6px 10px;
    margin-bottom: 10px;
    background-color: FloralWhite;
    border: 1px solid darkseagreen;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    background-color: mediumseagreen;
    color: white;
    border-radius: 3px;
    border: 1px solid forestgreen;
    cursor: pointer;
    box-sizing: border-box;
    font-weight: bold;
}

.button[disabled],
button[disabled],
input[type="submit"][disabled],
input[type="reset"][disabled],
input[type="button"][disabled] {
    cursor: default;
    opacity: .5;
}

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type="submit"]:focus,
input[type="submit"]:hover,
input[type="reset"]:focus,
input[type="reset"]:hover,
input[type="button"]:focus,
input[type="button"]:hover {
    background-color: dimgrey;
    border-color: dimgrey;
    color: gainsboro;
    outline: 0;
}


/*----------------------------------------*\
  DIV & SPAN
\*----------------------------------------*/

div {
    text-align: center;
    margin-top: 1em; 
}


/*----------------------------------------*\
  EFECTOS
\*----------------------------------------*/

@-webkit-keyframes desvanecimiento {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes desvanecimiento {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/*----------------------------------------*\
  ESPECIFICOS
\*----------------------------------------*/
/*
.contenido {
    display: none;
    padding: 6px 12px;
    -webkit-animation: desvanecimiento 3s;
    animation: desvanecimiento 2s;
    border-radius: 25px;
    border: 1px solid mediumseagreen;
    padding: 6px 12px;
}
*/

/*----------------------------------------*\
  REJILLA
\*----------------------------------------*/

/* Certificaciones */
.clase1 {
    grid-area: area1;
}

.clase2 {
    grid-area: area2;
}

.clase3 {
    grid-area: area3;
}

.clase4 {
    grid-area: area4;
}

.clase5 {
    grid-area: area5;
}

.clase6 {
    grid-area: area6;
}

.clase7 {
    grid-area: area7;
}

.contenedor1 {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    justify-content: center;
    grid-template-areas:
        'area7 area7 area7 area7 area7 area7'
        'area7 area7 area7 area7 area7 area7'
        'area7 area7 area7 area7 area7 area7'
        'area7 area7 area7 area7 area7 area7'
        'area6 area6 area6 area5 area5 area5'
        'area6 area6 area6 area5 area5 area5'
        'area4 area4 area4 area4 area4 area4'
        'area4 area4 area4 area4 area4 area4'
        'area4 area4 area4 area4 area4 area4'
        'area4 area4 area4 area4 area4 area4'
        'area3 area3 area3 area2 area2 area2'
        'area3 area3 area3 area2 area2 area2'
        'area1 area1 area1 area1 area1 area1'
        'area1 area1 area1 area1 area1 area1'
        'area1 area1 area1 area1 area1 area1'
        'area1 area1 area1 area1 area1 area1'
        ;
}


/* Contacto */
.clase1 {
    grid-area: area1;
}

.clase2 {
    grid-area: area2;
}

.clase3 {
    grid-area: area3;
}

.contenedor2 {
    display: grid;
    grid-template-columns: repeat(6, 15%);
    grid-template-areas:
        'area1 area1 area1 area1 area2 area2'
        'area1 area1 area1 area1 area2 area2'
        'area1 area1 area1 area1 area3 area3'
        'area1 area1 area1 area1 area3 area3';
}